
.resources{
    color: white;
    cursor: pointer;
    margin-left: 4%;
    margin-bottom: 2%;
}

.textz{
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: black; */
}



.jumping-toad{
    display: flex;
    justify-self: center;
    height: 30vh;

}

.game-toad{
    display: flex;
    justify-self: center;
    height: 30vh;
}



.foot{
    display: flex;
    /* justify-content: start; */
    align-items: start;
    flex-direction: column;
    border-top: 1px solid rgba(255, 255, 255, 0.418);
    background-color: black;

    /* padding-bottom: 5px; */
}

.dashboard-button{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    margin-bottom: 4%;
    width: 10%;
}

@media screen and (max-width:515px)  {
    .page{
        width: 100vw;

    }
}
