.foot{
    width: 96vw;
    margin-left: 1%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 16px;
    padding: 12px 0;
}

.foot-links{
    color:rgb(255, 255, 255);
    margin-bottom: 6%;
    text-decoration: none;
}

.foot-links:hover{
    cursor: pointer;
}


h5{
    justify-self: center;
    align-self: center;
    margin-bottom: 12px;
    text-decoration: 2px underline rgb(255, 255, 255);
    width: 120px;
    font-size: large;

}

h5:hover{
    cursor:default;
}

.resource-col{
    display: flex;
    flex-direction: column;
    min-width: 140px;
}

.copyright-text{
    display: flex;
    justify-self: flex-start;
    margin-left: 1%;
    margin-top: 8px;
    margin-bottom: 1px;
    padding-top: 2%;
}


.foot-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-bottom: 1%;
    height: auto;
}

@media (max-width: 800px) {
    .foot{
        justify-content: flex-start;
        padding-left: 12px;
    }
    .resource-col{
        min-width: 45%;
    }
}

@media (max-width: 500px) {
    .foot{
        flex-direction: column;
        align-items: flex-start;
    }
    .resource-col{
        min-width: 100%;
    }
    .copyright-text{
        margin-left: 0;
    }
}
