h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-self: center;


}

/* .signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin: 15px, 15px, 15px, 15px;
    box-shadow:black 5px;
    border-color: black;
    border:black 5px fill;

} */

.inputs{
    display: flex;

    margin-bottom: 5px;
    margin-left: 5px;
    /* width: 375px; */

}

button{
    border-radius: 5px;
    font-size: large;
}

label {
    display: flex;
    margin-bottom: 3%;
    justify-content: space-between;
}
