.dashboard-container{
    background-color: black;
    padding-top: 30px;
    height: 100%;
    width: 98vw;
}
.dashboard-content{
    display: flex;
    justify-content: space-between;
    margin-right: 1%;
}
.dash-head-text{

    color: #B4EC51;
    /* border: 2px solid greenyellow; */
    border-bottom: 2px solid #B4EC51;
    margin-left: 4%;
}



.top-port-text-and-buttons{
    display: flex;
    justify-content: space-between;
}

.port-head-text{
    display: flex;
    justify-content: space-between;
    width: 30%;
}



.portfolio-card{

    width: 70vw;
    height: 600px;

}

.watchlist-card{

    width: 30vw;
    height: auto;
    margin-right: 8%;
    overflow-y: scroll;
}



.stock-choices-dashboard{
    display: flex;
    border: 2px solid #FFC857;
    height: 70px;
    width: 58vw;
    margin-left: 4%;
    align-self: flex-start;;
    margin-bottom: 20px;

}


.stock-choices-card{
    margin-left: 2%;
    margin-bottom: 2px;

}

.current-stock-and-watchlist{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 808px;
}



.fund-me{
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 70%;
    border-radius: 12%;
    border: 2px solid #FFC857;
    margin-bottom: 1%;
}

.withdraw {
    display: flex;
    justify-self: flex-end;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 15%;
    border: 2px solid #FFC857;
    margin-bottom: 1%;
}


.buttonsz {
    display: flex;
    justify-content:flex-end;
    justify-self: flex-end;
    margin-bottom: 1%;
}


.time-frame-container{
    display: flex;
    justify-content: flex-start;
    margin-left: 0.5%;
}

.time-frame{
    width: 6%;
    margin: 0.5%;
    border: 2px solid #FFC857;
    border-radius: 15%;
}


.landing-page-copy{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
}


.side-bar-header-text{
    display: flex;
    justify-self: center;
    align-self: center;
    /* border: 2px dotted #FFC857; */
    text-decoration: underline;
    color: #FFC857;
    height: 5%;
    margin-top: 0;
}
