/* TODO: Add sitewide styles */


html{
    background-color: black;
}


h2{
    color: #ffffff;
}

h3{
    color: #ffffff;
}

h5{
    color: rgb(255, 255, 255);
}

h4{
    color: #ffffff;
}

p{
    display: flex;
    justify-self: center;
    color: white;
    margin-bottom: 5%;
}


h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-self: center;
    color: white;
}

