h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-self: center;
}


label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}


form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    border-radius: 10px;
    color: white;
}

.login-container {
    width: 400px;
    height: 230px;
    border-radius: 10px;
}

.input {
    /* width: 372px; */
    margin-bottom: 8px;
    margin:10px, 10px;
    border-color: rgba(151, 44, 44, 0.938);

}


button {
    margin-top: 10px;
    height: 40px;
    color: white;
    background-color: green;
    font-size: large;
}


button:hover{
    cursor: pointer;
}


.demo-log-in {
    color: teal;
    background-color: white;
    text-decoration: underline;
    margin: 2% auto;
    cursor: pointer;
}
