.login-container {
    width: 400px;
    border-radius: 10px;
}

.submit-button-login {
background-color: green;
color: white;
width: 96%;
}

.demo-log-in{
  background-color: black;
  text-decoration: none;
  color: #2A9D8F;
  font-size: larger;
  border: none;
  margin: -7px;
}

.login-modal-words{
  display: flex;
  justify-content: center;
  color: #2A9D8F;
}

.separate-line{
  border: 1px solid #2A9D8F;
  margin-top: 4%;
}

.login-form {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 10px;
    border-radius: 10px;
    color: white;
    height: max-content;

}
