
.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: white;

}



.home-image {

  z-index: 1;
  width: 100px;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 0px 0px gray;
  z-index: 2;
  /* position: fixed; */
  background-color: black;
  border-bottom: 1px solid gray;
}

.search-icon{
  height: 30px;
  width: 30px;
  display: flex;
  align-self: flex-end;
  padding-right: 6px;
}


.search-text-input{
  width: 300px;
  height: 3vh;
  background-color: white;
  box-shadow: 2px 4px 6px #FFC857;

}

.search-container{
  display: flex;
  width: 440px;
  height: 50%;
  align-self: center;
  margin-left: 25px;
}



.trade-toad-banner{
  width: 500px;
  height: 70px;
  justify-self: center;
  align-self: center;
  margin-top: 10px;
  margin-right: 26%;
}



/* *{
  background-color: black;
} */

/* .create-a-spot {
padding: 16px;
font-style:oblique;
text-decoration: none;
color: rgb(0, 118, 182);
font-size: large;
} */


@media screen and (max-width:515px) {

  .search-icon{
    height: 30px;
    width: 30px;
    padding-bottom: 24px;
  }

  .search-text-input{
    width: 50%;
    height: 3vh;
    background-color: white;
    box-shadow: 2px 4px 6px #FFC857;
  }




  .header {
    /* height: 18vh; */
  }
}


@media screen and (max-width:315px) {
  .search-icon{
    padding-bottom: 30px;
  }
}
