.search-bar-container{
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 540px;
}


.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 8px;
    margin: 0;
}

.search-button{
    height: 40px;
}

.search-input {
    height: 40px;
    flex: 1;
    min-width: 180px;
}

@media (max-width: 600px) {
    .search-bar-container{
        max-width: 100%;
    }
    .search-form{
        flex-direction: column;
        align-items: stretch;
        gap: 6px;
    }
    .search-input, .search-button{
        width: 100%;
    }
}
